<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-checkbox-marked" class="s24"></md-icon>
        </span>
        <span class="logo-text">Ocorrências</span>
    </div>

    <md-select ng-model="vm.monitoramento.descricao" md-autofocus>
      <md-option ng-repeat="moni in vm.monitoramentos" value="{{descricao}}">
        {{descricao}}
      </md-option>
    </md-select>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="add-task-button">
        <md-button class="md-accent md-raised" ng-click="vm.gotoOcorrencia()" aria-label="ADD TASK"
                   translate="OCORRENCIA.ADD_TASK" translate-attr-aria-label="OCORRENCIA.ADD_TASK">
            ADD OCORRENCIA
        </md-button>
    </div>

    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="All Tasks" translate translate-attr-aria-label="OCORRENCIA.ALL_TASKS"
                   ng-class="{'selected':vm.showAllTasks}" ng-click="vm.resetFilters()">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-view-headline" class="s16"></md-icon>
                <span class="title">Todas Ocorrências</span>
            </div>
        </md-button>

        <div class="item subheader">
            Filtros
        </div>

        <md-button class="item" aria-label="Priority" translate translate-attr-aria-label="OCORRENCIA.PRIORITY"
                   ng-click="vm.toggleFilterWithEmpty('important')"
                   ng-class="{'selected':vm.taskFilters.important}">
            <md-icon md-font-icon="icon-alert-circle" class="s16"></md-icon>
            <span class="title">Secretas</span>
        </md-button>

        <md-button class="item" aria-label="Today" translate translate-attr-aria-label="OCORRENCIA.TODAY"
                   ng-click="vm.toggleFilterWithEmpty('startDate')"
                   ng-class="{'selected':vm.taskFilters.startDate}">
            <md-icon md-font-icon="icon-calendar-today" class="s16"></md-icon>
            <span class="title">Hoje</span>
        </md-button>


        <md-button class="item" aria-label="Deleted" translate translate-attr-aria-label="OCORRENCIA.DELETED"
                   ng-click="vm.toggleFilter('deleted')"
                   ng-class="{'selected':vm.taskFilters.deleted}">
            <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
            <span class="title">Excluídas</span>
        </md-button>

        <div class="item subheader">
            Gravidades
        </div>

        <md-button class="tag item" aria-label="tag {{tag.label}}" ng-repeat="tag in vm.tags"
                   ng-click="vm.toggleTagFilter(tag)"
                   ng-class="{'selected':vm.isTagFilterExists(tag)}">
            <md-icon md-font-icon="icon-label" class="s16" ng-style="{'color' : tag.color}"></md-icon>
            <span class="title">{{tag.label}}</span>
        </md-button>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->
