<md-dialog class="veiculo-dialog" aria-label="Adicionar Veículo">
    <form name="veiculoForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>

            <md-input-container class="md-block">
                <label>Prefixo</label>
                <input name="identificador" ng-model="vm.veiculo.identificador" required md-autofocus>
                <div ng-messages="veiculoForm.identificador.$error" ng-show="veiculoForm.identificador.$touched" role="alert">
                    <div ng-message="required">
                        <span>É necessário informar um prefixo para o veículo.</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Placa</label>
                <input name="placa" ng-model="vm.veiculo.placa" required md-autofocus>
                <div ng-messages="veiculoForm.placa.$error" ng-show="veiculoForm.placa.$touched" role="alert">
                    <div ng-message="required">
                        <span>É necessário informar uma placa para o veículo.</span>
                    </div>
                </div>
            </md-input-container>


            <div layout-xs="column" layout="row">

              <div flex class="info-container">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Garagem</label>
                  <md-select ng-model="vm.veiculo.GaragemId">
                    <md-option ng-repeat="garagem in vm.garagens" value="{{garagem.id}}">
                      {{garagem.nome}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

            </div>

            <div flex class="info-container">
              <md-list class="secreto">
                  <md-list-item class="secreto">
                    <label>Monitorado</label>
                    <md-switch class="md-secondary" ng-model="vm.veiculo.monitorado" aria-label="Secreto"></md-switch>
                  </md-list-item>
               </md-list>
            </div>



            <div flex class="info-container">
              <md-list class="secreto">
                  <md-list-item class="secreto">
                    <label>Ativo</label>
                    <md-switch class="md-secondary" ng-model="vm.veiculo.ativo" aria-label="Secreto"></md-switch>
                  </md-list-item>
               </md-list>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newVeiculo" ng-click="vm.saveVeiculo()"
                           class="send-button md-accent md-raised"
                           ng-disabled="veiculoForm.$invalid || veiculoForm.$pristine"
                           aria-label="SALVAR">
                    SALVAR
                </md-button>

                <md-button type="submit" ng-if="vm.newVeiculo" ng-click="vm.addNewVeiculo()"
                           class="send-button md-accent md-raised"
                           ng-disabled="veiculoForm.$invalid || veiculoForm.$pristine"
                           aria-label="Add Veiculo">
                    ADICIONAR
                </md-button>
            </div>

            <div layout="row">
                <md-button class="md-icon-button" ng-click="vm.deleteVeiculo($event)" aria-label="Delete" translate
                           translate-attr-aria-label="TODO.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="TODO.DELETE">DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
